<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="name col-md-3 d-flex align-items-center mt-5">
            <img src="assets\images\Francia2.jpeg" class="rounded center-block img-responsive" alt="">
        </div>
        <div class="name col-md-6">
            <div class="mt-5">
                <h1 class="my-5">I am Francia Guevara.</h1>
                <p>Recent first-gen graduate at the University of Houston.</p>
                <p>I am currently a Career Coach Admin at HEB, with experience in Human Resources, Client Relationships and Multi-tasking. I have worked with the company for two and a half years and I have worked my way up to this position by being self driven and confident in what I can bring to the table.</p>
                <p>I am motivated by my passion for seeking a positive impact through my work by inspiring others, creating enthusiasm and driving positive change. Because I love what I do, I am certain to go above and beyond to deliver exponential results.</p>
                
            </div>
        </div>
        <div class="name col-md-6 mt-5">
            <br>
            <p>My knowledge and determination for ensuring PR efforts align with broader organizational goals by identifying target audience, setting clear objectives and developing key messages.</p>
            <p>I am proud to say that I am able to efficiently manage my time by identifying priorities, allocating time appropriately, and using strategies to optimize productivity.</p>
            <p>Because my time management has been successful, it has led me to have a better work-life balance. I have learned to manage my energy and priorities to ensure that both work and personal life are given adequate attention.</p>
            <p>With all the skills and experiences I gained over the years, I am seeking to work in a professional work environment. Feel free to contact me!</p>
        </div>
        <div class="name col-md-3 d-flex align-items-center justify-content-center">
            <img src="assets\images\Francia3.jpeg" class="rounded center-block img-responsive" alt="">
        </div>
        <div class="col-12 text-center mb-5">
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#resumeModal">
                <p>CHECK MY RESUME <i class="bi bi-file-earmark-person-fill"></i></p>
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Francia Guevara's Resume</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\Francia_Guevara_Resume.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
                <button type="button" class="download btn"><a href="assets\images\resume.pdf" download="Maximiliano Alvarado's Resume">Download</a></button>
            </div>
        </div>
    </div>
</div>
