<div class="container text-center mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="title">My Projects</h1>
        </div>
        <div class="col-md-4 my-5">
            <div class="card FS">
                <a routerLink="/VAA">
                    <div class="card-body">
                        <h3>Valenti Alumni Event</h3>
                        <img src="assets\images\pro1.png" class="card-img-top" alt="...">
                        <p class="card-text mt-4">Targeted younger Alumni to join the Valenti Alumni Association by hosting a small Pop-Up Event after Commencement</p>
                        <a routerLink="/VAA" class="btn">More Info</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 my-5">
            <div class="card DM">
                <a routerLink="/SMProposal">
                    <div class="card-body">
                        <h3>Melange SM Proposal</h3>
                        <img src="assets\images\pro2.png" class="card-img-top" alt="...">
                        <p class="card-text mt-4">Strategically created a weeks worth of social media content for the restaurant, Melange Creperie.</p>
                        <a routerLink="/SMProposal" class="btn">More Info</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 my-5">
            <div class="card DA">
                <a routerLink="/PRPlan">
                    <div class="card-body">
                        <h3>CFA PR Strategic Plan</h3>
                        <img src="assets\images\pro3.png" class="card-img-top" alt="...">
                        <p class="card-text mt-4">Crafted a planbook for a specific Chic-Fil-A to target university students to follow their social medias.</p>
                        <a routerLink="PRPlan" class="btn">More Info</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

