<div class="FS container text-center mt-5">
    <div class="row justify-content-evenly">
        <div class="sites col-12 mb-5">
            <h1 class="title mb-4">Melange Social Media Proposal</h1>
            <h1 class="r">CHECK THE FINAL PROPOSAL <i class="bi bi-arrow-right-circle-fill"></i> <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#rModal"> <p> Proposal</p></button></h1>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Description</h2>
        </div>
        <div class="desc col-12 mb-5">
            <h3>Melange desc is that meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow</h3>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Mission</h2>
        </div>
        <div class="desc col-12 mb-5">
            <h3>The goal here was to meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow</h3>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Creative Content</h2>
        </div>
        <div class="desc col-12">
            <h3>I creatived thjkfasd fj sdkafjkasdl; fsjfkls; afjksdal; fjsdaklf; asdjfkl asjfkasdl;fjasdklf sdjkfl;asd fjkasdl; fas</h3>
        </div>
        <div class="col-lg-6 mb-5">
            <h3>Instagram</h3>
            <img src="assets\images\Francia-28.JPG" alt="">
        </div>
        <div class="col-lg-6 mb-5">
            <h3>Tiktok</h3>
            <video src="assets\images\vistorVid.mp4" class="my-2" controls></video>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Conclusion</h2>
        </div>
        <div class="desc col-12 mb-5">
            <h3>The conclusion here is that meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow</h3>
        </div>
    </div>
</div>

<div class="modal fade" id="eModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Entities</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\Entities.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Entities</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\Relation.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
