<div class="FS container text-center mt-5">
    <div class="row justify-content-evenly">
        <div class="sites col-12 mb-5">
            <h1 class="title mb-4">Valenti Alumni Event</h1>
            <h1 class="r">VALENTI ALUMNI PLANBOOK <i class="bi bi-arrow-right-circle-fill"></i> <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#wModal"> <p> Planbook</p></button></h1>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Description</h2>
        </div>
        <div class="desc col-12 mb-5">
            <h3>Worked with the Valenti Alumni Assosiation for my Student Run Agency course and hosted an event to target younger alumni</h3>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Mission</h2>
        </div>
        <div class="desc col-12 mb-5">
            <h3>Increase the number of young Alumni in the Valenti School of Communication by the end of the semester by creating an event after commencement in front of the building to gain their attention and inform them about the Alumni Association.</h3>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Strategies</h2>
        </div>
        <div class="col-4 mb-5">
            <h3>Research Strategies</h3>
            <ul>
                <li>SWOT Analysis</li>
                <li>Interviews</li>
                <li>Surveys and Questionnaires </li>
                <li>Stakeholder Analysis</li>
            </ul>
        </div>
        <div class="col-8 mb-3">
            <h3>Advertising Strategy</h3>
            <div class="desc col-12 mb-5">
                <h3 class="mb-3">I created a flyer to promote our event by going to senior Valenti classes to talk about the event to my peers and pass out this flyer for them to have. I also communicated with the Social Media Manager and advertised it on their Instagram, LinkedIn and Facebook.</h3>
                <div class="row justify-content-evenly">
                    <div class="col-6">
                        <img src="assets\images\ad1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5">
            <h2 class="mb-3 text-start">Interviews</h2>
            <h3 class="i mb-3">I organized spotlight interviews with Valenti Alumni and asked about their current positions and any advice for current undergrad students. I communicated to the Social Media Manager of Valenti and requested to post these spotlights onto their website and advertise it on their Instagram and LinkedIn.</h3>
            <div class="row justify-content-evenly">
                <div class="col-lg-4 mb-3">
                    <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#rModal"><h3 class="s mb-3">Alex Lopez Negrete's spotlight</h3> <img src="assets\images\spot1.jpeg" alt=""></button>
                </div>
                <div class="col-lg-4 mb-3">
                    <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#eModal"><h3 class="s mb-3">Patrick Cassidy's spotlight</h3> <img src="assets\images\spot2.jpeg" alt=""></button>
                </div>
            </div>
        </div>
        <div class="col-12 text-start mb-3">
            <h2>Conclusion</h2>
        </div>
        <div class="desc col-12 mb-5">
            <h3 class="mb-5">The event gathered many young alumni and professors together in front of the Valenti School of Communication to take photos and were provided cookies, drinks, and a small flower bouquet.</h3>
            <div class="row justify-content-evenly">
                <div class="col-6">
                    <img src="assets\images\vaa1.jpg" alt="">
                </div>
                <div class="col-6">
                    <img src="assets\images\vaa2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="wModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Valenti Alumni Planbook</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\Stratcomm_VAA (1).pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Alex Lopez Negrete's spotlight</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\Alex_lopez_negrete_revised (3).pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="eModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Patrick Cassidy's spotlight</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="resume">
                    <embed src= "assets\images\patrick_cassidy_revised.pdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>