* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #FCE5EF ;
    --secondary-color: #A2BAF0;
    --third-color: #8c4833;
}

html, body {
    min-height: 100vh;
    font-family: 'Bree Serif', serif;
    background-color: var(--primary-color);
}